<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{{ title }}</title>

        <link rel="stylesheet" href="{{ baseUrl }}/assets/css/vendor/bootstrap.min.css">
        <link rel="stylesheet" href="{{ baseUrl }}/assets/css/vendor/font-awesome.min.css">
        <link rel="stylesheet" href="{{ baseUrl }}/assets/css/vendor/highlight.tomorrow-night.css">
        <link rel="stylesheet" href="{{ baseUrl }}/assets/css/build/theme.css">
    </head>
    <body>

        <header class="navbar navbar-default navbar-fixed-top">

            <a class="navbar-brand" href="{{ baseUrl }}/">
                {% if logo %}
                <img src="{{ logo }}">
                {% endif %}

                <div class="navbar-text">
                    {{ sitetitle|default('Site') }}

                    <small class="hidden-xs hidden-sm">
                        {{ title|default('')|raw }}
                    </small>
                </div>
            </a>
        </header>

        <main class="{{ menu ? 'container-fluid' : 'container' }}">
            <div class="row">

                {% if menu is defined %}

                    <nav id="sidebar" class="col-sm-3 col-lg-2" role="navigation">

                        {% for section in menu.sections %}
                            <p class="text-muted">
                                {{ section.name }}
                            </p>

                            <ul class="nav nav-pills nav-stacked">
                                {% for itemId, item in section.items %}
                                    <li class="{{ itemId == currentMenu ? 'active' }}">
                                        <a href="{{ item.absoluteUrl|default(baseUrl ~ '/' ~ item.relativeUrl) }}">
                                            {{ item.text|raw }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endfor %}

                    </nav>

                {% endif %}

                <section class="{{ menu ? 'col-sm-offset-3 col-lg-offset-2 col-sm-9 col-lg-10' : 'col-sm-12' }}">
                    {{ content|raw }}

                    {% if previous or next %}
                    <footer>
                        {% if previous %}<a href="{{ baseUrl ~ '/' ~ previous }}"><i class="fa fa-chevron-left"></i> Previous</a>{% endif %}
                        {% if next %}<a href="{{ baseUrl ~ '/' ~ next }}">Next <i class="fa fa-chevron-right"></i></a>{% endif %}
                    </footer>
                    {% endif %}
                </section>

            </div>
        </main>

        <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="//yandex.st/highlightjs/7.5/highlight.min.js"></script>

        <script>
            jQuery( function() {
                // Syntax highlighting
                hljs.initHighlightingOnLoad();
            } );
        </script>

    </body>
</html>
